@page "/"

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="row">
                 <label for="deck1">
                     <strong>Deck <span style="text-decoration: underline">0</span>ne</strong>
                 </label>
                 <select id="deck1" @bind="twoDecks.LeftCardSelected" class="custom-select" size="10">
                     
                 </select>
            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
        </div>
    </div>
</div>

@code {
    TwoDecks twoDecks = new();
}
